<div class="panel panel-default">
    <div class="panel-body">
      <form id="icecream-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control required"
              size="120"
              max="120"
              name="name"
              [ngModel]="icecream?.name"
              #name="ngModel"
              required>
              <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Leave us a cool name for your creation!</div>
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="flavor">Flavor Idea</label>
            <input
              type="text"
              id="flavor"
              class="form-control required"
              size="120"
              max="255"
              name="flavor"
              [ngModel]="icecream?.flavor"
              #flavor="ngModel"
              required>
              <div class="alert alert-danger" *ngIf="flavor.invalid && flavor.touched">Enter a valid flavor please!</div>
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="toppings">Toppings</label>
            <input
              type="text"
              id="toppings"
              class="form-control invalid"
              size="150"
              max="255"
              name="toppings"
              [ngModel]="icecream?.toppings"
              #toppings="ngModel">
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="imageUrl">Icecream Picture</label>
            <input
              type="text"
              id="imageUrl"
              class="form-control"
              size="150"
              max="255"
              name="imageUrl"
              [ngModel]="icecream?.imageUrl"
              #imageurl="ngModel">
          </div>
        </div>
  
        <div class="form-group">
          <label for="groupList">Additional Icecream Flavors</label>
  
          <div class="row" id="groupList"
               style="min-height: 3rem;" dnd-droppable [dropZones]="['icecreamGroup']"
               (onDropSuccess)="addToGroup($event)">
  
            <div *ngFor="let icecream of groupIcecreams; let i = index">
              <div>
                <app-icecream-item class="col-sm-11" [icecream]="icecream"></app-icecream-item>
                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">X</button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupIcecreams?.length < 1">Drag other flavors you want to add here!</span>
          </div>
        </div>
  
        <div class="alert alert-danger" *ngIf="(name.invalid && name.touched) || (flavor.invalid && flavor.touched)">
          The Name and flavor of your icecream are required
        </div>
  
        <div class="row">
          <div class="col-xs-12">
            <button 
            class="btn btn-success" type="submit" [disabled] ="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  